table {
    width: 100%;
  }
  
th.mat-sort-header-sorted {
color: black;
}

.cell-align-right{
    display: flex;
    padding: 21px 0;
    justify-content: flex-end;
}

.top-logo {
    padding-top: 10px;
    width: 60px;
    height: 40px;
}

.main-logo {
    padding-top: 10px;
    width: 101px;
    height: 101px;
    margin-left: -150px;
}

.spf-filter-select {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 40px;
}

