
<!-- Toolbar -->
<div class="toolbar" role="banner">
    <a aria-label="SPF on GitHub" target="_blank" rel="noopener" href="https://github.com/Learnspree/Serverless-Language-Performance-Framework" title="SPF on GitHub">
      <img class="top-logo" alt="GitHub Repo" src="../assets/github-logo-white.png"/>
    </a>  
  <span class="spf-darkbg-anchor">Compare and track the startup (initialization) performance of different runtimes across multiple serverless platforms. See our GitHub <a href="https://github.com/Learnspree/Serverless-Language-Performance-Framework" target="_blank" rel="noopener">repo</a> for details.</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">

    <span>{{ title }}</span>

  </div>

  <div class="spf-filter-section" style="width: 100%">
      <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile>
          <mat-form-field class="spf-filter-select">
            <mat-label>Serverless Platform:</mat-label>
            <mat-select [(value)]="selectedPlatform" (selectionChange)="refreshMetricsData()">
              <mat-option value="AWS Lambda">AWS</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="spf-filter-select">
              <mat-label>Warm or Cold Start:</mat-label>
              <mat-select [(value)]="selectedState" (selectionChange)="refreshMetricsData()">
                <mat-option value="{{availableFunctionStates.warm}}">Warm</mat-option>
                <mat-option value="{{availableFunctionStates.cold}}">Cold</mat-option>
              </mat-select>
          </mat-form-field>  
        </mat-grid-tile>        


        <mat-grid-tile>
          <mat-form-field class="spf-filter-select">
              <mat-label>Memory Size:</mat-label>
              <mat-select [(value)]="selectedMemory" (selectionChange)="refreshMetricsData()">
                <mat-option value="128">128 MB</mat-option>
                <mat-option value="256">256 MB</mat-option>
                <mat-option value="512">512 MB</mat-option>
              </mat-select>
          </mat-form-field>
        </mat-grid-tile>    

        <mat-grid-tile>
          <mat-form-field class="spf-filter-select">
            <mat-label>Region:</mat-label>
            <mat-select [(value)]="selectedRegion" (selectionChange)="refreshMetricsData()">
              <mat-option value="us-east-1">us-east-1</mat-option>
            </mat-select>
          </mat-form-field>   
        </mat-grid-tile> 

      </mat-grid-list>
  </div>


  <!-- State Header -->
  <div class="spf-filter-section">
    <mat-form-field class="spf-filter-datepicker">
        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="pickerStart" [value]="initialStartDate.value" (dateChange)="changeStartDate($event)" placeholder="Start Date:">
        <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
        <mat-datepicker #pickerStart></mat-datepicker>
        <div class="spf-error-control">{{invalidInputs ? "Dates are invalid" : ""}}</div>
    </mat-form-field>

    <mat-form-field class="spf-filter-datepicker">
        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="pickerEnd" [value]="initialEndDate.value" (dateChange)="changeEndDate($event)" placeholder="End Date:">
        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd></mat-datepicker>
        <div class="spf-error-control">{{invalidInputs ? "Dates are invalid" : ""}}</div>
    </mat-form-field>
  </div>

  <div *ngIf="(selectedState == availableFunctionStates.cold) && (selectedStartDate < coldStartIncludesInitDurationStartDate)" class="spf-warning-message">Note that cold-start tests recorded before 5th March 2020 only recorded execution duration and did not record initialization time</div> 

  <!-- Data Table -->
  <table mat-table [dataSource]="dataSource" matSort #spfSort="matSort" matSortActive="mean" matSortDirection="asc" class="mat-elevation-z8">
  
    <!-- Runtime Column -->
    <ng-container matColumnDef="runtime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Language<br/>Runtime<br/>(# records)</th>
      <td mat-cell *matCellDef="let element"> {{element.runtime}} <br/> <span class=spf-recordcount>({{element.count}})</span> </td>
    </ng-container> 

    <!-- Mean Column -->
    <ng-container matColumnDef="mean">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Average<br/>Duration<br/></th>
        <td mat-cell *matCellDef="let element"> {{element.mean}} </td>
      </ng-container>

    <!-- Max Column -->
    <ng-container matColumnDef="max">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Max<br/>Duration<br/>{{(selectedState == availableFunctionStates.cold && (selectedStartDate >= coldStartIncludesInitDurationStartDate)) ? "(init time*)" : ""}}</th>
      <td mat-cell *matCellDef="let element"> {{element.max}} <br/> <span *ngIf="(selectedState == availableFunctionStates.cold) && (selectedStartDate >= coldStartIncludesInitDurationStartDate)" class=spf-recordcount>({{element.initDuration}})</span> </td>
    </ng-container>    

    <!-- Min Column -->
    <ng-container matColumnDef="min">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Min<br/>Duration<br/>{{(selectedState == availableFunctionStates.cold && (selectedStartDate >= coldStartIncludesInitDurationStartDate)) ? "(init time*)" : ""}}</th>
      <td mat-cell *matCellDef="let element"> {{element.min}} <br/> <span *ngIf="(selectedState == availableFunctionStates.cold) && (selectedStartDate >= coldStartIncludesInitDurationStartDate)" class=spf-recordcount>({{element.initDuration}})</span> </td>
    </ng-container>      
    
    <!-- Cost Column -->
    <ng-container matColumnDef="costPerMillion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Avg. Cost<br/>Per Million<br/></th>
        <td mat-cell *matCellDef="let element"> {{element.costPerMillion}} </td>
    </ng-container>        
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <div class="spf-table-subtext" *ngIf="(selectedState == availableFunctionStates.cold) && (selectedStartDate >= coldStartIncludesInitDurationStartDate)">*Cold-start duration includes initialization time shown</div> 

  <!-- Footer -->
  <footer>
      Created by&nbsp;<a href="https://www.linkedin.com/in/david-jackson-1979195" target="_blank">David Jackson</a>&nbsp;@ Learnspree. Like this project?&nbsp;
      <a href="https://github.com/Learnspree/Serverless-Language-Performance-Framework" target="_blank" rel="noopener"> Give our repo a star.
        <div class="github-star-badge">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
          Star
        </div>
      </a>
      <a href="https://github.com/Learnspree/Serverless-Language-Performance-Framework" target="_blank" rel="noopener">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#26330A"/><path d="M0 0h24v24H0z" fill="none"/></svg>
      </a>
  </footer>
</div>

<router-outlet></router-outlet>